.header {
    grid-area: header;
    background-color: #db2763a3;
    &__logo{
        display: flex;
        justify-content: center;
        animation-name: rotar_logo;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        @keyframes rotar_logo {
           0% {
            transform: rotateY(0deg);
           }
           12.5% {
            transform: rotateY(45deg);
           }
           25% {
            transform: rotateY(90deg);
           }
           37.5% {
            transform: rotateY(135deg);
           }
           50% {
            transform: rotateY(180deg);
           }
           62.5% {
            transform: rotateY(225deg);
           }
           75% {
            transform: rotateY(270deg);
           }
           87.5%{
            transform: rotateY(315deg);
           }
           100% {
            transform: rotateY(360deg);
           }
        }
        img {
            width: 200px;
            height: 84px;
        }
    }
    a {
        font-family: 'Roboto Mono', monospace;
        color: white;
    }
}

//segundo breackpoint 1020px
@media (min-width: 1020px){
    .header {
        .navbar-expand-lg{
            .navbar-collapse {
                justify-content: flex-end;
            }
        }
        &__logo {
            img {
                width: 250px;
                height: 105px;
            }
        }
        a{
            font-size: 18px;
        }
    }
}

//tercer breackpoint 1280px
@media (min-width: 1280px) {
    .header{
        &__logo {
            img {
                width: 350px;
                height: 147px;
            }
        }
        a {
            font-size: 20px;
        }
    }
}

//cuarto breackpoint 1600px
@media (min-width: 1600px) {
    .header {
        a{
            font-size: 25px;
        }
    }
}

// quinto breackpoint 1980px
@media (min-width: 1980px) {
    .header {
        a{
            font-size: 30px;
        }
    }
}