@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;0,900;1,200&family=Roboto+Mono:ital,wght@0,400;1,200;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Hind:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,900;1,300;1,500&family=Noto+Serif:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,400&display=swap");


$nunito: 'Nunito Sans', sans-serif;
$roboto: 'Roboto Mono', monospace;
$hind: 'Hind', sans-serif;
$cardo: 'Cardo', serif;
$notoSannz: 'Noto Sans', sans-serif;
$notoSerif: 'Noto Serif', serif;
$kaushan: 'Kaushan Script', cursive;
$poppins: 'Poppins', sans-serif;